*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(230, 233, 233);
}

h1 {
  text-align: center;
  color: rgb(90, 90, 129);
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  max-width: 300px;
  width: 100%;
  /* border: 10px solid black;
  border-radius: 10px; */
}

.display {
  background-color: rgb(59, 59, 59);
  height: 5rem;
  padding: 1rem;
  text-align: end;
  border-radius: 10px 10px 0 0;
}

.display div {
  color: white;
}

.calculator-display {
  background-color: rgb(94, 94, 94);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 4px 4px 0 4px;
}

.result {
  font-size: 24px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  padding: 1rem;
  height: 100%;
  background-color: rgb(235, 155, 37);
  border-radius: 0 0 10px 10px;
}

.buttons button {
  border-radius: 50%;
  border: 0px solid transparent;
  box-shadow: 4px 5px 5px 0 rgba(0, 0, 0, 0.2);
  height: 60px;
  width: 60px;
  background-color: rgb(121, 121, 121);
  color: white;
  cursor: pointer;
  font-size: 24px;
  transition: 0.25s;
}

#equals {
  grid-column: 3 / 5;
  border-radius: 2.5rem;
  width: 100%;
}

button:hover {
  transform: translateY(-0.15rem);
}

button:active {
  transform: translateY(.15rem);
}

.numbers:hover,
.decimal:hover {
  background-color: rgb(165, 165, 165);
}

.operators:hover {
  background-color: rgb(92, 208, 216);
}

.equals:hover {
  background-color: rgb(56, 185, 56);
}

.all-clear:hover,
.clear:hover {
  background-color: rgb(219, 78, 78);
}